# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.env

# Benchmarks Binaries
bin/
runner_*
*.exe
*.o

# Rust
target/
Cargo.lock

# C#
obj/
bin/

# Java
*.class
*.jar
*.war
*.ear

# Node
node_modules/
package-lock.json

# C++
*.o
*.obj

